.art{width:900px;height:auto;margin:80px auto;line-height:35px;font-size:15px}
.art h2 {text-align:center ;}
.port{width:800px;text-align:left;margin:10px auto;font-size:14px;}
span{color:red;font-size:16px}

